<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="./home.css">
</head>

<body>
    <header id="site-header">
        <div class="navigation-head">
            <div class="nav-brand">
                <a href="/" class="home">
                    T7N
                </a>
            </div>
            <div class="search">
                <form action="" method="get">
                    <input type="search" name="search" id="search" placeholder="search..." class="active-pink">
                </form>
            </div>
            <div class="menu" id="menubtn">
                <span class="line"></span>
            </div>
            <div class="menu-content">
                <div class="menu-content-nav">
                    <img src="../../static/blog/images/optimizedICONS/unicorn.svg" alt="" width="45" height="45"
                        srcset="" style="border-radius: 50%; border: solid white 2px; margin: 2rem;">

                    <a href="#" class="link">Settings</a>
                    <a href="#" class="link rrgister-link">Register</a>
                    <a href="#" class="link register-link">Sign in</a>
                </div>
            </div>
        </div>
    </header>
    <nav class="nav">
        <ul class="nav-list">
            <li class="nav-item">
                <a href="#" class="nav-link">#Education</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">#Visa</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">#Acounts</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">#Business</a>
            </li>
        </ul>
    </nav>
    <main>
        <div class="content"></div>
        <div class="content"></div>
        <div class="content"></div>
        <div class="content"></div>
        <div class="content"></div>
        <div class="content"></div>
        <div class="content"></div>
        <div class="content"></div>
        <div class="content"></div>
        <div class="content"></div>
        <div class="content"></div>
        <div class="content"></div>
        <div class="content"></div>
        <div class="content"></div>
        <div class="content"></div>
        <div class="content"></div>
        <div class="content"></div>
        <div class="content"></div>
        <div class="content"></div>
        <div class="content"></div>
        <div class="content"></div>
        <div class="content"></div>
        <div class="content"></div>
        <div class="content"></div>
        <div class="content"></div>
        <div class="content"></div>
        <div class="content"></div>
        <div class="content"></div>
        <div class="content"></div>
        <div class="content"></div>
        <div class="content"></div>
        <div class="content"></div>
        <div class="content"></div>
        <div class="content"></div>
        <div class="content"></div>
        <div class="content"></div>
        <div class="content"></div>
        <div class="content"></div>
        <div class="content"></div>
        <div class="content"></div>
        <div class="content"></div>
        <div class="content"></div>
        <div class="content"></div>
    </main>
    <footer>
        made in 2020 with &hearts;
    </footer>
    <script>
        const menuBtn = document.getElementById('menubtn');
        const navLinks = document.getElementsByClassName('nav-link');

        menuBtn.addEventListener('click', showMenu);
        for (link of navLinks) {
            link.addEventListener('click', activateLink);
        }
        function showMenu(event) {
            document.getElementById('site-header').classList.toggle('active');
        }
        function activateLink(event) {
            for (let index = 0; index < navLinks.length; index++) {
                const element = navLinks[index];
                if (element.classList.contains('active-link')) {
                    element.classList.remove('active-link');
                }
            }
            event.target.classList.toggle('active-link');
        }
    </script>
</body>

</html>