{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container card">
    <form method="POST" novalidate class="px-2">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4 p-3">Reset Password</legend>
            {{ form|crispy }}
        </fieldset>
        <div class="form-group">
            <button class="btn btn-lg btn-outline-primary mx-auto" type="submit">
                    Password Reset
            </button>
        </div>
    </form>
</div>
{% endblock content %}