{% extends 'blog/base.html' %}
{% block content %}
<form method="post" novalidate>
    {% csrf_token %}
    {% if form.non_field_errors %}
    <ul>
        {% for field in form.non_field_errors %}
        <li> {{ field }} </li>
        {% endfor %}
    </ul>
    {% endif %}
    {% for hidden_field in form.hidden_fields %}
    {% if form.hidden_field.errors %}
    <ul>
        {% for hf_error in form.hidden_field.errors %}
        <li>(Hidden Field {{hidden_field.name}}): {{ hf_error }} </li>
        {% endfor %}
    </ul>
    {% endif %}
    {{ hidden_field }}
    {% endfor %}
    <table border="2">
        {% for field in form.visible_fields %}
        <tr>
            <th> {{ field.label_tag }} </th>
            <td>
                {% if field.errors %}
                <ul>
                    {% for error in field.errors %}
                    <li> {{ error }} at {{ field.name }} </li>
                    {% endfor %}
                </ul>
                {% endif %}
                {{ field }}
                {% if field.help_text %}
                <br> {{field.help_text}}
                {% endif %}
            </td>
        </tr>
        {% endfor %}
        {% comment %}<tr>
            <td>
                <input type="text" name="{{form.name.name}}" id="{{ form.name.id_for_label }}"
                    {% if form.name.value != None %} value="{{form.name.value|stringformat:'s'}}" {% endif %}
                    {% if form.name.field.required %}required{% endif %} />
            </td>
        </tr>
        {% endcomment %}

    </table>
    <button type="submit">Submit</button>
</form>
<form method="post" novalidate>
    {% csrf_token %}
    <table border="1">
        {{color}}
    </table>
    <button type="submit">Submit</button>
</form>
{% load widget_tweaks %}

<form method="POST" novalidate>
    {% csrf_token %}
    {% if form.non_field_errors  %}
    <div class="alert alert-danger" role="alert">
        {% for error in form.non_field_errors %}
        {{ error }}
        {% endfor %}
    </div>
    {% endif %}
    {% for hidden_field in form.hidden_fields %}
    {{ hidden_field.errors }}
    {{ hidden_field }}
    {% endfor %}

    {% for field in form.visible_fields %}
    <div class="form-group">
        {{ field.label_tag }}
        {% if form.is_bound %}
        {% if field.errors %}
        {% render_field field class="form-control is-invalid" %}
        {% for error in field.errors %}
        <div class="invalid-feedback">
            {{error}}
        </div>
        {% endfor %}
        {% else %}
        {% render_field field class="form-control is-valid" %}
        {% endif %}
        {% else %}
        {% render_field field class="form-control" %}
        {% endif %}
        {% if field.help_text %}
        <small class="form-text text-muted">{{ field.help_text }}</small>
        {% endif %}
    </div>
    {% endfor %}

    <button type="submit" class="btn btn-lg btn-outline-info">Submit</button>
</form>
<form novalidate method="post" class="my-5 py-5">
    {% csrf_token %}
    {% if form.non_field_errors %}
    <ul>
        {% for err in form.non_field_errors %}
        <div class="alert alert-danger" role="alert">
            {{ err }}
        </div>
        {% endfor %}
    </ul>
    {% endif%}
    {% for hf in form.hidden_fields %}
    {{hf.errors}}
    {{hf}}
    {%endfor%}
    {% for vf in form.visible_fields %}
    <div class="form-control">
        {{ vf.label_tag }}
        {% if form.is_bound %}
        {% if vf.errors %}
        {% render_field vf class="form-control is-invalid" %}
        {% for err in vf.errors %}
        <div class="invalid-feedback">
            {{ err }}
        </div>
        {% endfor %}
        {% else %}
        {% render_field vf class="form-control is-valid" %}
        {% endif %}
        {% else %}
        {% render_field vf class="form-control" %}
        {% endif %}
        {% if vf.help_text %}
        <small class="text-muted">{{ vf.help_text }}</small>
        {% endif %}
    </div>
    {% endfor %}
</form>
{% endblock content %}