{% load static %}
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    {% if title %}
    <title>
        Dev Notes
        - {{title}}
    </title>
    {% else %}
    <title>Dev Notes</title>
    {% endif %}
    <link rel="icon" href="{% static 'blog/images/windmill-svgrepo-com2.svg' %}" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <!--NAVBAR CSS-->
    <link rel="stylesheet" href="{% static 'css/navbar.css'%}">
    <!-- Favicons -->
    <link rel="stylesheet" href="{% static 'bootstrap-5/css/bootstrap.css' %} ">
</head>

<body>

    <nav class="navbar">
        <ul class="navbar-nav">
            <li class="logo">
                <a href="{% url 'blog-home' %}" class="nav-link">
                    <span class="link-text logo-text">Bruh!</span>
                    <svg aria-hidden="true" focusable="false" data-prefix="fad" data-icon="angle-double-right"
                        role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"
                        class="svg-inline--fa fa-angle-double-right fa-w-14 fa-5x">
                        <g class="fa-group">
                            <path fill="currentColor"
                                d="M224 273L88.37 409a23.78 23.78 0 0 1-33.8 0L32 386.36a23.94 23.94 0 0 1 0-33.89l96.13-96.37L32 159.73a23.94 23.94 0 0 1 0-33.89l22.44-22.79a23.78 23.78 0 0 1 33.8 0L223.88 239a23.94 23.94 0 0 1 .1 34z"
                                class="fa-secondary"></path>
                            <path fill="currentColor"
                                d="M415.89 273L280.34 409a23.77 23.77 0 0 1-33.79 0L224 386.26a23.94 23.94 0 0 1 0-33.89L320.11 256l-96-96.47a23.94 23.94 0 0 1 0-33.89l22.52-22.59a23.77 23.77 0 0 1 33.79 0L416 239a24 24 0 0 1-.11 34z"
                                class="fa-primary"></path>
                        </g>
                    </svg>
                </a>
            </li>
            <li class="nav-item">
                <a href="{% url 'blog-style' %}" class="nav-link">
                    <img src="https://img.icons8.com/nolan/64/shirt.png"/>
                    <span class="link-text">Style</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="{% url 'blog-tech' %}" class="nav-link">
                    <img src="https://img.icons8.com/nolan/64/touch-id.png"/>
                    <span class="link-text">Tech</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="{% url 'blog-business' %}" class="nav-link">
                    <img src="https://img.icons8.com/nolan/64/growing-money.png"/>
                    <span class="link-text">Business</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="{% url 'blog-edu' %}" class="nav-link">
                    <img src="https://img.icons8.com/nolan/64/learning.png"/>
                    <span class="link-text">Education</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="{% url 'blog-help' %}" class="nav-link">
                    <img src="https://img.icons8.com/nolan/64/help--v1.png"/>
                    <span class="link-text">Help</span>
                </a>
            </li>
            {% if user.is_authenticated %}
            <li class="nav-item">
                <a href="{% url 'profile' %}" class="nav-link">
                    <img src="https://img.icons8.com/nolan/64/test-account.png"/>
                    <span class="link-text">Profile</span>
                </a>
            </li>

            <li class="nav-item">
                <a href="{% url 'post-create' %}" class="nav-link">
                    <img src="https://img.icons8.com/nolan/64/google-blog-search.png"/>
                    <span class="link-text">New Post</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="{% url 'logout' %}" class="nav-link">
                    <img src="https://img.icons8.com/nolan/64/logout-rounded-left.png"/>
                    <span class="link-text">Logout</span>
                </a>
            </li>
            {% else %}

            <li class="nav-item">
                <a href="{% url 'user-register' %}" class="nav-link">
                    <img src="https://img.icons8.com/nolan/64/login-rounded-right.png"/>
                    <span class="link-text">Register</span>
                </a>
            </li>

            <li class="nav-item">
                <a href="{% url 'login' %}" class="nav-link">
                    <img src="https://img.icons8.com/nolan/64/logout-rounded-left.png"/>
                    <span class="link-text">Login</span>
                </a>
            </li>
            {% endif %}
        </ul>
    </nav>
    <div class="content ">
        <div class="content-inner">
        {% comment %}
                    <header class="blog-header py-5 mb-5 mx-auto">
                <div class="nav-scroller py-1 mb-2">
                    <aside class="nav d-flex justify-content-around">
                        {% comment%}
                        <a class="btn btn-lg p-2 btn-primary rounded-pill px-2 my-2"
                            href="{% url 'blog-islam' %}">#Islam</a>
                            <a class="btn btn-lg p-2 btn-dark rounded-pill px-2 my-2" href="{% url 'blog-visa' %}">#Visa</a>
                        
                        <a class="btn btn-lg p-2 btn-success rounded-pill px-2 my-2"
                            href="{% url 'blog-edu' %}">#Education</a>
                        <a class="btn btn-lg p-2 btn-warning rounded-pill px-2 my-2"
                            href="{% url 'blog-tech' %}">#Tech</a>
                        <a class="btn btn-lg p-2 btn-secondary rounded-pill px-2 my-2"
                            href="{% url 'blog-style' %}">#Style</a>
                        <a class="btn btn-lg p-2 btn-info rounded-pill px-2 my-2"
                            href="{% url 'blog-business' %}">#Business</a>
                        
                        <a class="btn btn-lg p-2 btn-danger rounded-pill px-2 my-2"
                            href="{% url 'blog-help' %}">#Help</a>
                    </aside>
                    {% if messages %}
                    {% for message in messages %}
                    <div class="row justify-content-end">
                        <div class="col-4 text-center">
                            <div class="alert alert-{{message.tags}}">
                                {{ message }}
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    {% endif%}
                </div>
            </header>
        {% endcomment %}


            <main>
                <div class="container">
                    <div class="row">
                        <div class="col-12 blog-main">
                            {% block content %}

                            {% endblock %}
                        </div>
                    </div>
                </div>
        </div>
        
        <div class="py-5 border-top border-secondary mt-5 footer">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-md">
                        <img src="{% static 'blog/images/windmill-svgrepo-com2.svg' %}" alt="" srcset="" height="24"
                            width="24">
                        <small class="d-block mb-3 text-muted">&copy; 2020-2021</small>
                    </div>
                    <div class="col-6 col-md">
                        <h5>Features</h5>
                        <ul class="list-unstyled text-small">
                            <li><a class="text-muted" href="#">Cool stuff</a></li>
                            <li><a class="text-muted" href="#">Team feature</a></li>
                        </ul>
                    </div>
                    <div class="col-6 col-md">
                        <h5>Privacy</h5>
                        <ul class="list-unstyled text-small">
                            <li><a class="text-muted" href="#">Privacy</a></li>
                            <li><a class="text-muted" href="#">Terms</a></li>
                        </ul>
                    </div>
                    <div class="col-6 col-md">
                        <h5>About</h5>
                        <ul class="list-unstyled text-small">
                            <li><a class="text-muted" href="#">Team</a></li>
                            <li><a class="text-muted" href="#">Locations</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        </main>


    </div>
    </div>
    <script src="{% static 'bootstrap-5/js/bootstrap.js' %}"></script>
</body>

</html>